[buildout]
parts =
    distutils-dir
    pyclips
    nl
    ipython
    test
#    releaser

develop =
    src/nl

eggs =
    nl
    ipdb
    ipython
    coverage

[distutils-dir]
recipe = z3c.recipe.mkdir
paths = downloads/distutils

[pyclips]
recipe = collective.recipe.distutils
url = http://ufpr.dl.sourceforge.net/project/pyclips/pyclips/pyclips-1.0/pyclips-1.0.7.348.tar.gz

[nl]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
scripts = plot_ph22
extra-paths = ${ipython:extra-paths}

[ipython]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
scripts = ipython
extra-paths = ${buildout:directory}/parts/site-packages

[test]
recipe = pbp.recipe.noserunner
eggs = ${buildout:eggs}
extra-paths = ${ipython:extra-paths}

[releaser]
recipe = zc.recipe.egg
egg = zest.releaser
